@font-face {
    font-family: 'Nekst';
    src: local('Nekst Black'), local('Nekst-Black'),
        url('Nekst-Black.woff2') format('woff2'),
        url('Nekst-Black.woff') format('woff'),
        url('Nekst-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }