@import '../../mixin/media-mixin.scss';

.range {
    height: 68px;
    width: 100%;
    border: solid 2px #F3F3F4;
    background: #F3F3F4;
    border-radius: 16px;
    position: relative;
    transition: all .2s;

    &--active {
        background: #FFFFFF;
    }

    &--disabled {
        opacity: 40%;
        pointer-events: none;
    }

    &-field {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        font: normal 30px 'Nekst';
        color: #575757;
        &__input {
            padding: 5px 17px;
            padding-top: 8px;
            min-width: 0;
            max-width: 320px;
            display: block;
            border: 0;
            outline: 0;
            color: inherit;
            font: inherit;
            background: transparent;
        }

        &__extra {
            min-width: 0;
            display: flex;
            width: 69px;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            background: #EBEBEC;
            border-radius: 16px;
            padding: 15px 0;
            font: normal 20px 'Nekst';
            line-height: 24px;
        }

        &__postfix {
            min-width: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 36px;
            background: transparent;
            color: #575757;
            padding-right: 17px;
            padding-top: 3px;
        }
    }

    &-slider {
        width: 100%;
        padding: 0 22px; // minus border width
        position: absolute;
        left: 0;
        bottom: -2px;

        &__progress {
            position: absolute;
            padding: 0 22px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            
            &::before {
                display: block;
                content: '';
                bottom: 0;
                height: 100%;
                width: 100%;
                background: #E1E1E1;
            }
        }

        &__input {
            position: relative;
            z-index: 1;
            display: block;
            height: 2px;
            width: 100%;
            appearance: none;
            background: transparent;
            background-image: linear-gradient(#FF9514, #FF9514);
            background-repeat: no-repeat;
            bottom: 0;
    
            &:focus {
                box-shadow: none;
                outline: none;
            }

            &::-webkit-slider-runnable-track {
                -webkit-appearance: none;
                border: 0;
                box-shadow: none;
                background: transparent;
            }

            &::-moz-range-track {
                -webkit-appearance: none;
                box-shadow: none;
                border: none;
                background: transparent;
              }
              
            &::-ms-track {
                -webkit-appearance: none;
                box-shadow: none;
                border: none;
                background: transparent;
            }

            &::-webkit-slider-thumb {
                position: relative;
                z-index: 2;
                -webkit-appearance: none;
                height: 16px;
                width: 16px;
                border: 0;
                background: #FF9514;
                border-radius: 50%;
                transition: all .1s;

                &:hover { 
                    height: 20px;
                    width: 20px;
                    cursor: grab;
                }

                &:active {
                    cursor: grabbing;
                }
            }

            &::-moz-range-thumb {
                position: relative;
                z-index: 2;
                -webkit-appearance: none;
                height: 16px;
                width: 16px;
                border: 0;
                background: #FF9514;
                border-radius: 50%;
                transition: all .1s;

                &:hover { 
                    height: 20px;
                    width: 20px;
                    cursor: grab;
                }

                &:active {
                    cursor: grabbing;
                }
            }

            &::-ms-thumb {
                position: relative;
                z-index: 2;
                -webkit-appearance: none;
                height: 16px;
                width: 16px;
                border: 0;
                background: #FF9514;
                border-radius: 50%;
                transition: all .1s;

                &:hover { 
                    height: 20px;
                    width: 20px;
                    cursor: grab;
                }

                &:active {
                    cursor: grabbing;
                }
            }
        }
    }
}

@include w320 {
    .range {
        height: 60px;
        padding: 0;
        &-field {
            height: 100%;
            font-size: 22px;
            padding: 5px 11px;
            &__input {
                max-width: 200px;
                padding: 3px 5px;
            }
            &__extra {
                padding: 12px 0; 
            }
        }
        &-slider {
            padding: 0 17px;
            &__progress {
                padding: 0 17px;
            }
        }
    }
}