$title-font-size: 16px;
$border-size: 2px;
$border-radius: 16px;
$field-total-padding: 24px - $border-size;
$field-height: 68px;


.range {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 427px;
    &__title {
        font: normal $title-font-size 'Gilroy';
        line-height: 20px;
    }
    &__field {
        height: $field-height;
        border: solid $border-size #F3F3F4;
        background: #F3F3F4;
        border-radius: $border-radius;
        position: relative;
        &--active {
            background: #FFFFFF;
        }
    }
    &-text {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        &__wrapper {
            min-width: 0;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 10px 16px;
            padding-top: 12px;
            color: #575757;
            font: normal 30px 'Nekst';
        }
        &__input {
            min-width: 0;
            display: block;
            border: 0;
            outline: 0;
            color: inherit;
            font: inherit;
            background: transparent;
            width: fit-content;
        }
        &__postfix {
   
            min-width: 0;
            font: bold 30px 'Gilroy';
            line-height: 36px;
        }
        &__extra {
            display: flex;
            width: 70px;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            background: #EBEBEC;
            border-radius: $border-radius;
            padding: 15px 0;
            font: normal 20px 'Nekst';
            line-height: 24px;
        }
    }
    &-slider {
        width: 100%;
        padding: 0 $field-total-padding; // minus border width
        position: absolute;
        left: 0;
        bottom: -$border-size;
        &__input {
            display: block;
            width: 100%;
            border: 0;
            outline: 0;
            appearance: none;
            background: #FF9514;
            height: 2px;
            max-width: 100%;
        }
    }
}