@import url('../src/fonts/nekst/style.css');
@import url('../src/fonts/gilroy/stylesheet.css');

.App {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: #FFFFFF;
  min-height: 100vh;
}

.container {
  width: 1440px;
  padding: 174px 47px;
}

@media (max-width: 1439px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 1023px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 320px;
  }
}


