.App {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: #FFFFFF;
  min-height: 100vh;
}

.container {
  width: 1440px;
  padding: 174px 47px;
}

@media (max-width: 1439px) {
  .container {
    width: 1024px;
    padding: 103px 48px;
  }
}

@media (max-width: 1023px) {
  .container {
    width: 768px;
    padding: 67px 36px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 47px 21px;
    width: 320px;
  }
}
