@import '../../mixin/media-mixin.scss';

.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 71px;
}

.title {
    font: normal 54px 'Nekst';
    max-width: 753px;
    height: 98px;
    line-height: 90%;
}

.calculator {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 53px;
    &__fields {
        display: flex;
        gap: 32px;
        align-items: flex-end;
    }
    &__results {
        display: flex;
        gap: 32px;
        align-items: flex-end;
    }
    &-block {
        width: 427px;
        &__title {
            font: normal 16px 'Gilroy';
            line-height: 20px;
        }

        &__range {
            padding-top: 24px;
        }

        &__value {
            padding-top: 12px;
            font: normal 54px 'Nekst';
            color: #575757;
            line-height: 49px;
        }
    }
    &-btn {
        width: 427px;
        height: 68px;
        $btn-h: 68px;
        margin-bottom: 5px;
        border-radius: 40px;
        border: 0;
        outline: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        background-color: #FF9514;
        font: normal 30px 'Nekst';
        line-height: 36px;
        color: #FFFFFF;
        transition: all .2s;
        cursor: pointer;
        &:not([disabled]):hover {
            background: #111111;
        }

        &:not([disabled]):active {
            background: #575757;
        }

        &:disabled {
            opacity: 40%;
            cursor: default;
        }

        &__loading {
            width: $btn-h * 0.5;
            height: $btn-h * 0.5;
            position: relative;
                
            &:before {
                content: '';
                box-sizing: border-box;
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px solid transparent;
                border-top-color: white;
                border-right-color: white;
                border-left-color: white;
                animation: spinner .6s linear infinite;
        
                @keyframes spinner {
                    to {transform: rotate(360deg);}
                }
            }
        }
    }
}

@include w1024 {
    .home {
        gap: 41px;
    }
    .calculator {
        gap: 46px;
        &__fields {
            gap: 39px;
            flex-wrap: wrap;
        }

        &__results {
            flex-wrap: wrap;
            column-gap: 63px;
            row-gap: 42px;
            justify-content: flex-start;
            align-items: flex-start;
            & .calculator-block {
                width: 45%;
            }

        }
        &-block {
            width: 100%;
        }
        &-btn {
            width: 345px;
        }
    }
}

@include w768 {
    .home {
        gap: 41px;
    }
    .calculator {
        gap: 46px;
        &__fields {
            gap: 39px;
            flex-wrap: wrap;
        }

        &__results {
            flex-wrap: wrap;
            column-gap: 61px;
            row-gap: 42px;
            justify-content: flex-start;
            align-items: flex-start;
            & .calculator-block {
                width: 45%;
            }

        }
        &-block {
            width: 100%;
        }
        &-btn {
            width: 345px;
        }
    }
}

@include w320 {
    .home {
        gap: 28px;
    }
    .title {
        font: normal 34px 'Nekst';
        max-width: 220px;
        height: 124px;
        line-height: 90%;
    }
    .calculator {
        gap: 24px;
        &__fields {
            gap: 24px;
            flex-wrap: wrap;
        }
        &__results {
            flex-wrap: wrap;
            column-gap: 61px;
            row-gap: 27px;
            justify-content: flex-start;
            align-items: flex-start;
            & .calculator-block {
                width: 70%;
            }

        }
        &-block {
            width: 100%;
            &__title {
                font-size: 14px;
            }
            &__range {
                padding-top: 8px;
            }
            &__value {
                padding-top: 3px;
                font-size: 22px;
                line-height: 20px;
            }
        }
        &-btn {
            width: 280px;
            height: 60px;
            $btn-h: 60px;
            margin-top: 4px;
            font-size: 22px;
        }
    }
}