.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 71px;
}

.title {
    font: normal 54px 'Nekst';
    max-width: 753px;
    height: 98px;
    line-height: 90%;
}

.calculator {
    display: flex;
    gap: 32px;
    align-items: flex-start;
}